#gradient{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 20px 50px 20px;
    background: radial-gradient(ellipse at center, rgba(145, 42, 82, 0.6) 20%, rgba(114, 37, 67, 0.4) 40%, rgba(25, 25, 25, 0.2) 70%, rgba(25, 25, 25, 0) 100%);
}

#projects-cta a{
    margin: 20px 0;
}

#projects-cta{
    background-color: #191919;
}